@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

html
{
    --light: 240, 239, 244;
    --dark: 22, 25, 37;

    --little: #171752;
    --mrcat: #fbb22c;
    --soni: #3ba3a1;

    --henrik: #bc4d3b;
    --erik: #355c3e;
    --kristoffer: #66729d;
    --kristian: #242424;
    --ellinor: #d1899d;
    --anders: #34646d;
    --patrick: #1c2541;
    --katrine: #866369;
    --elias: #0895ca;
}

body
{
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(var(--light));
    text-align: center;
    user-select: none;
    margin: 0;
    color: rgb(var(--dark));
}

#welcome
{
    position: fixed;
    display: flex;
    flex-direction: column;
    line-height: .3em;
    font-size: 3rem;
}

#welcome h1
{
    opacity: 0;
    transform: translate(0, 1rem);
    transition: 600ms ease;
}

#old
{
    display: none;
}

body > h1
{
    font-size: 4em;
    margin-bottom: -1.5rem;
    padding: 0;
    text-shadow: rgba(var(--dark), .2) 0 0 1rem;
    opacity: 0;
    transition: 300ms ease;
}

body > p
{
    text-shadow: rgba(var(--dark), .1) 0 0 .5rem;
    opacity: 0;
    transition: 300ms ease;
}

#cards
{
    display: flex;
    flex-direction: column;
    height: min-content;
    justify-content: center;
    align-items: center;
}

a
{
    margin: 0;
    display: inline-block;
    color: rgb(var(--dark));
    text-decoration: none;
    text-shadow: rgba(var(--dark), .25) 0 0 .5rem;
    width: 100%;
    text-align: left;
    opacity: 0;
    transform: translate(0, 2rem);
}

#toasts
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

#toasts > a
{
    margin: 0;
    flex: 1 1 calc(50% - 2em);
    padding: 1em;
}

a > h1
{
    padding: 1.5rem;
    margin: 0;
    font-size: 3rem;
}

a > p
{
    padding: 0 1.5rem 1.5rem;
    margin: -1rem 0 0;
}

a img
{
    display: none;
}

#partners
{
    color: rgba(var(--dark), .6);
    margin-bottom: -1em;
}

#notice
{
    color: rgba(var(--dark), .6);
    padding-bottom: 1rem;
}

@media only screen and (min-width: 750px)
{
    #welcome
    {
        flex-direction: row;
        gap: 1ch;
    }

    #old
    {
        display: unset;
        position: fixed;
        top: 0;
        right: 0;
        width: unset;
        height: unset;
        box-shadow: unset;
    }

    #cards
    {
        flex-direction: row;
        width: 95vw;
    }

    a
    {
        margin: 1rem;
        border-radius: 3rem;
        box-shadow: rgba(var(--dark), .4) 0 0 2rem;
        height: 100%;
        max-width: 40ch;
        transform-style: preserve-3d;
    }

    #toasts
    {
        display: initial;
        padding: 1em;
    }

    #toasts > a
    {
        padding: .5em 1em;
        margin: .5em;
        box-shadow: rgba(var(--dark), .2) 0 0 1rem;
        width: initial;
        height: initial;
    }

    a > h1, a > p
    {
        padding: 1rem 1.5rem;
        margin: 0;
        transform: translateZ(1.5rem);
    }

    a > h1
    {
        font-size: 2rem;
    }

    a img
    {
        display: unset;
        width: 100%;
        box-shadow: rgba(var(--dark), .1) 0 0 .7rem;
        border-radius: 3rem 3rem 0 0;
    }

    #notice
    {
        position: fixed;
        bottom: 0;
        padding: 0;
    }
}

#little
{
    background: var(--little);
    color: rgb(var(--light));
}

#mrcat
{
    background: var(--mrcat);
}

#soni
{
    background: var(--soni);
}

#henrik
{
    background: var(--henrik);
}

#erik
{
    background: var(--erik);
    color: rgb(var(--light));
}

#kristoffer
{
    background: var(--kristoffer);
    color: rgb(var(--light));
}

#kristian
{
    background: var(--kristian);
    color: rgb(var(--light));
}

#ellinor
{
    background: var(--ellinor);
}

#anders
{
    background: var(--anders);
    color: rgb(var(--light));
}

#patrick
{
    background: var(--patrick);
    color: rgb(var(--light));
}

#katrine
{
    background: var(--katrine);
    color: rgb(var(--light));
}

#elias
{
    background: var(--elias);
    color: rgb(var(--light));
}