@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

html
{
    --light: 240, 239, 244;
    --dark: 22, 25, 37;

    --little: #171752;
    --mrcat: #fbb22c;
    --soni: #3ba3a1;
}

body
{
    font-family: 'Nunito', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(var(--light));
    text-align: center;
}

body > h1
{
    font-size: 4.5em;
    padding-bottom: 0;
    text-shadow: rgba(var(--dark), .2) 0 0 1rem;
}

#cards
{
    display: flex;
}

a
{
    margin: 1rem;
    color: rgb(var(--dark));
    text-decoration: none;
    border-radius: 3rem;
    overflow: hidden;
    box-shadow: rgba(var(--dark), .4) 0 0 2rem;
    text-shadow: rgba(var(--dark), .1) 0 0 .5rem;
    width: 23rem;
    height: 32rem;
    text-align: left;
}

h1, p
{
    padding: 1rem;
    margin: 0;
}

a img
{
    width: 100%;
    box-shadow: rgba(var(--dark), .1) 0 0 .7rem;
}

#little
{
    background: var(--little);
    color: rgb(var(--light));
}

#mrcat
{
    background: var(--mrcat);
}

#soni
{
    background: var(--soni);
}