@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

html
{
    --light: 240, 239, 244;
    --dark: 22, 25, 37;

    --little: #171752;
    --mrcat: #fbb22c;
    --soni: #3ba3a1;

    --henrik: #bc4d3b;
    --erik: #355c3e;
    --kristoffer: #66729d;
    --kristian: #242424;
    --ellinor: #d1899d;
    --anders: #34646d;
    --patrick: #1c2541;
}

body
{
    font-family: 'Nunito', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(var(--light));
    text-align: center;
    user-select: none;
    margin: 0;
}

body > h1
{
    font-size: 4em;
    margin-bottom: -1.5rem;
    padding: 0;
    text-shadow: rgba(var(--dark), .2) 0 0 1rem;
    opacity: 0;
    transition: 300ms ease;
}

body > p
{
    text-shadow: rgba(var(--dark), .1) 0 0 .5rem;
    opacity: 0;
    transition: 300ms ease;
}

#cards
{
    display: flex;
}

a
{
    margin: 1rem;
    display: inline-block;
    color: rgb(var(--dark));
    text-decoration: none;
    border-radius: 3rem;
    overflow: hidden;
    box-shadow: rgba(var(--dark), .4) 0 0 2rem;
    text-shadow: rgba(var(--dark), .1) 0 0 .5rem;
    width: 23rem;
    height: 32rem;
    text-align: left;
    transition: 300ms ease;
    opacity: 0;
    transform: translate(0, 2rem);
    transform-style: preserve-3d;
}

#toasts
{
    padding: 1em;
}

#toasts > a
{
    padding: .5em 1em;
    margin: .5em;
    box-shadow: rgba(var(--dark), .2) 0 0 1rem;
    width: initial;
    height: initial;
}

#toasts > a:hover
{
    transform: scale(1.2);
}

h1, p
{
    padding: 1rem;
    margin: 0;
    transform: translateZ(20px);
}

a img
{
    width: 100%;
    box-shadow: rgba(var(--dark), .1) 0 0 .7rem;
}

#partners
{
    color: rgba(var(--dark), .6);
    margin-bottom: -2em;
}

#notice
{
    color: rgba(var(--dark), .6);
    position: fixed;
    bottom: 0;
}

#little
{
    background: var(--little);
    color: rgb(var(--light));
}

#mrcat
{
    background: var(--mrcat);
}

#soni
{
    background: var(--soni);
}

#henrik
{
    background: var(--henrik);
}

#erik
{
    background: var(--erik);
    color: rgb(var(--light));
}

#kristoffer
{
    background: var(--kristoffer);
    color: rgb(var(--light));
}

#kristian
{
    background: var(--kristian);
    color: rgb(var(--light));
}

#ellinor
{
    background: var(--ellinor);
}

#anders
{
    background: var(--anders);
    color: rgb(var(--light));
}

#patrick
{
    background: var(--patrick);
    color: rgb(var(--light));
}