/* STYLESHEET TABLE OF CONTENTS
    1 General setup
        1.1 Imports
        1.2 Variables
    2 General styling
        2.1 Page wide
        2.2 Text styling
    3 Page sections
        3.1 Cards
        3.2 Partners
    4 Desktop styling
    5 Partner coloring
    6 Navigation
 */

// 1.1 Imports
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

// 1.2 Variables
$light: rgb(240, 239, 244);
$dark: rgb(22, 25, 37);

// 2.1 Page wide
body
{
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $light;
    text-align: center;
    user-select: none;
    margin: 0;
    color: $dark;
}

// 2.2 Text styling
body > h1
{
    font-size: 4em;
    margin-bottom: -1.5rem;
    padding: 0;
    text-shadow: rgba($dark, .2) 0 0 1rem;
    opacity: 0;
    transition: 300ms ease;
}

body > p
{
    text-shadow: rgba($dark, .1) 0 0 .5rem;
    opacity: 0;
    transition: 300ms ease;
}

// 3.1 Cards
#cards
{
    display: flex;
    flex-direction: column;
    height: min-content;
    justify-content: center;
    align-items: center;

    a
    {
        margin: 0;
        display: inline-block;
        color: $dark;
        text-shadow: rgba($dark, .25) 0 0 .5rem;
        width: 100%;
        text-align: left;
    }
}

a
{
    text-decoration: none;
    opacity: 0;
    transform: translate(0, 20px);
}

// 3.2 Partners
#toasts
{
    display: flex;
    flex-wrap: wrap;

    a
    {
        margin: 0;
        display: inline-block;
        color: $dark;
        text-decoration: none;
        text-shadow: rgba($dark, .25) 0 0 .5rem;
        width: 100%;
        text-align: left;
        opacity: 0;
        transform: translate(0, 20px);
    }
}

#toasts > a
{
    margin: 0;
    flex: 1 1 calc(50% - 2em);
    padding: 1em;
    color: $light;
}

a > h1
{
    padding: 1.5rem;
    margin: 0;
    font-size: 3rem;
}

a > p
{
    padding: 0 1.5rem 1.5rem;
    margin: -1rem 0 0;
}

a img
{
    display: none;
}

#partners
{
    color: rgba($dark, .6);
    margin-bottom: -1em;
}

// 4 Desktop styling
@media only screen and (min-width: 750px)
{
    #welcome
    {
        flex-direction: row;
        gap: 1ch;
    }

    #old, #new
    {
        display: unset;
        position: fixed;
        top: 0;
        right: 0;
        width: unset;
        height: unset;
        box-shadow: unset;
    }

    #new
    {
        left: 0;
        transform-origin: left;
    }

    #cards
    {
        flex-direction: row;
        width: 95vw;

        a
        {
            margin: 1rem;
            border-radius: 3rem;
            box-shadow: rgba($dark, .4) 0 0 2rem;
            height: 100%;
            max-width: 40ch;
            transform-style: preserve-3d;
        }
    }

    #toasts
    {
        display: initial;
        padding: 1em;

        a
        {
            margin: 1rem;
            border-radius: 3rem;
            box-shadow: rgba($dark, .4) 0 0 2rem;
            height: 100%;
            max-width: 40ch;
            transform-style: preserve-3d;
        }
    }

    #toasts > a
    {
        padding: .5em 1em;
        margin: .5em;
        box-shadow: rgba($dark, .2) 0 0 1rem;
        width: initial;
        height: initial;
    }

    a > h1, a > p
    {
        padding: 1rem 1.5rem;
        margin: 0;
        transform: translateZ(1.5rem);
    }

    a > h1
    {
        font-size: 2rem;
    }

    a img
    {
        display: unset;
        width: 100%;
        box-shadow: rgba($dark, .1) 0 0 .7rem;
        border-radius: 3rem 3rem 0 0;
    }

    #notice
    {
        position: fixed;
        bottom: 0;
        padding: 0;
    }
}

.dark-text { color: $dark !important; }

// 5 Partner coloring
#little { background: #9c92c8; }
#mrcat { background: #00a7e1; }
#soni { background: #3ba3a1; }
#henrik { background: #ed0929; }
#erik { background: #355c3e; }
#kristoffer { background: #66729d; }
#kristian { background: #242424; }
#ellinor { background: #38023b; }
#anders { background: #34646d; }
#patrick { background: #b4c8f0; }
#katrine { background: #866369; }
#elias { background: #0895ca; }
#andreas { background: #42998f; }
#helland { background: #a288e3; }
#eidhammer { background: #0e2e44; }

// 6 Navigation
#navigation
{
    display: flex;
    gap: .7rem;

    a
    {
        padding: .5rem 1rem;
        background: lighten($dark, 40);
        color: $light;
        border-radius: 2rem;

        &:hover
        {
            background: lighten($dark, 25);
        }

        &:active
        {
            background: lighten($dark, 10);
        }
    }
}